extends layout

block content
    h2= title

    form(method="POST", action="/new")
        p Name
        input(type="text", name="username")
        p Message
        input(type="text", name="message")
        input(type="submit")